* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cocogoose', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  margin: 0;
}

.form-container {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flex-columns {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.full-width {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #0078D4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

select {
  background-color: #ffffff;
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

.line{
  height: 2px;
  background-color: #9a9ea0;
  border-radius: 2px;
}

.invalid-field {
  border: 1px solid red;
  outline: none;
}

.feedback-message{
  font-weight: bold;
  color: #0078D4;
}

.feedback-message:empty{
  display: none;
}
