<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User Form</title>
</head>
<body>

<div class="form-container">
  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="flex-columns">
      <div class="column">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" required [(ngModel)]="valueStorage.firstName" #firstNameCtrl="ngModel" name="firstName"
                  [ngClass]="{'invalid-field': firstNameCtrl.invalid && firstNameCtrl.touched}">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" required [(ngModel)]="valueStorage.lastName" #lastNameCtrl="ngModel" name="lastName"
                 [ngClass]="{'invalid-field': lastNameCtrl.invalid && lastNameCtrl.touched}">
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" id="address" required [(ngModel)]="valueStorage.address" #addressCtrl="ngModel" name="address"
                 [ngClass]="{'invalid-field': addressCtrl.invalid && addressCtrl.touched}">
        </div>
        <div class="form-group">
          <label for="birthday">Birthday:</label>
          <input type="date" id="birthday" required [(ngModel)]="valueStorage.birthday" name="birthday">
        </div>
      </div>

      <div class="column">
        <div class="form-group">
          <label for="userType">User Type:</label>
          <select id="userType" [(ngModel)]="selectedUserType" name="userType" required>
            <option *ngFor="let type of userTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" required [(ngModel)]="valueStorage.email" #emailCtrl="ngModel" name="email"
                 [ngClass]="{'invalid-field': emailCtrl.invalid && emailCtrl.touched}">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" required [(ngModel)]="valueStorage.phone" #phoneCtrl="ngModel" name="phone"
                 [ngClass]="{'invalid-field': phoneCtrl.invalid && phoneCtrl.touched}">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="text" id="password" required [(ngModel)]="valueStorage.password" #passwordCtrl="ngModel" name="password"
                 [ngClass]="{'invalid-field': passwordCtrl.invalid && passwordCtrl.touched}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group line" *ngIf="selectedUserType === userTypes[0] || selectedUserType === userTypes[1]"></div>

      <div class="form group" *ngIf="selectedUserType === userTypes[0]">
        <label for="adminRole">Admin Role:</label>
        <input id="adminRole" [(ngModel)]="valueStorage.adminRole" name="adminRole" required type="text">
      </div>
      <div class="form group" *ngIf="selectedUserType === userTypes[1]">
        <label for="processingArea">Processing Area:</label>
        <input id="processingArea" [(ngModel)]="valueStorage.processingArea" name="processingArea" required type="text">
      </div>
      <div *ngIf="selectedUserType === userTypes[1]">
        <br>
      </div>
      <div class="form group" *ngIf="selectedUserType === userTypes[1]">
        <label for="shift">Shift:</label>
        <input id="shift" [(ngModel)]="valueStorage.shift" name="shift" required type="text">
      </div>
    </div>

    <div class="form-group full-width">
      <button type="submit">Create new User</button>
    </div>
    <div class="feedback-message">{{ valueStorage.feedbackMessage }}</div>
  </form>
</div>

</body>
</html>
