<body>
<ng-container *ngIf="loginService.userPresent && loginService.userType === UserType.ADMIN">
<div class="comp-create">
  <div class="text" (click)="toPageBlank('/comp-create')" >Create Component</div>
  <div class="text" (click)="toPageBlank('/comp-create')" style="font-weight: bold;">Component List</div>
</div>

<div class="user-display">
  <div class="flex-columns">
    <div class="c15">
      <div class="checkbox-container">
        <div class="input-wrapper-s">
          <input
            type = "text"
            placeholder="Search..."
            [(ngModel)]="searchQuery"
            class="search-input"
          />
        </div>
        <br>
        <div (click)="toggleTypes()"
             [class.underline]="tabs['types']" style="cursor: pointer;">
          <b>DISPLAY COMPONENTS:</b>
        </div>
        <div *ngIf="tabs['types']" @fadeInOut>
          <div class="checkbox-item">
            <input type="checkbox" id="displayCases" [(ngModel)]="filters['displayCases']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayCases">Cases</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="displayCPUs" [(ngModel)]="filters['displayCPUs']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayCPUs">CPUs</label>
          </div>
          <div class="checkbox-item m-b-20">
            <input type="checkbox" id="displayCPUCoolers" [(ngModel)]="filters['displayCPUCoolers']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayCPUCoolers">CPU Coolers</label>
          </div>
          <div class="checkbox-item m-b-20">
            <input type="checkbox" id="displayFans" [(ngModel)]="filters['displayFans']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayFans">Fans</label>
          </div>
          <div class="checkbox-item m-b-20">
            <input type="checkbox" id="displayGPUs" [(ngModel)]="filters['displayGPUs']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayGPUs">GPUs</label>
          </div>
          <div class="checkbox-item m-b-20">
            <input type="checkbox" id="displayMemories" [(ngModel)]="filters['displayMemories']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayMemories">Memory</label>
          </div>
          <div class="checkbox-item m-b-20">
            <input type="checkbox" id="displayMotherboards" [(ngModel)]="filters['displayMotherboards']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayMotherboards">Motherboards</label>
          </div>
          <div class="checkbox-item m-b-20">
            <input type="checkbox" id="displayPSUs" [(ngModel)]="filters['displayPSUs']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayPSUs">PSUs</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="displayStorages" [(ngModel)]="filters['displayStorages']" (ngModelChange)="onCheckboxChange()"/>
            <label for="displayStorages">Storages</label>
          </div>
        </div>
        <div class="line2 m-b-5"></div>

        <div (click)="toggleAttributes()"
             [class.underline]="tabs['attr']" style="cursor: pointer;">
          <b>SEARCH BY:</b>
        </div>
        <div *ngIf="tabs['attr']" @fadeInOut>
          <div class="checkbox-item">
            <input type="checkbox" id="id2" [(ngModel)]="filters['id']"/>
            <label for="id2">ID</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="name2" [(ngModel)]="filters['name']"/>
            <label for="name2">Name</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="quantity" [(ngModel)]="filters['stockQuantity']"/>
            <label for="quantity">Quantity</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="price" [(ngModel)]="filters['price']"/>
            <label for="price">Price</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="reorder" [(ngModel)]="filters['reorderQuantity']"/>
            <label for="reorder">Reorder Quantity</label>
          </div>
        </div>
        <div class="line2 m-b-5"></div>

      </div>
    </div>

    <div class="c85">
      <div #scrollContainer class="scroll-container" tabindex="0">

        <div class="scroll-item" *ngFor="let comp of filteredCases">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="Case Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] Case</b></div>
              <div>{{comp.name}}</div>
              <div>Form Factor: {{comp.motherboardFormFactor}}</div>
              <div>Color: {{comp.color}}</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredCPUs">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="CPU Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] CPU</b></div>
              <div>{{comp.name}}</div>
              <div>Socket: {{comp.socket}}</div>
              <div>{{comp.clock}} MHz - {{comp.boostClock}} MHz</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredCPUCoolers">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="CPUCooler Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] CPU Cooler</b></div>
              <div>{{comp.name}}</div>
              <div><ng-container *ngFor="let s of comp.sockets">{{s}}, </ng-container></div>
              <div><ng-container *ngIf="!comp.fanless">{{comp.fanRPM}} RPM</ng-container>
                <ng-container *ngIf="comp.fanless">Fanless</ng-container>, {{comp.height}} mm
              </div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredFans">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="Fan Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] Fan</b></div>
              <div>{{comp.name}}</div>
              <div>{{comp.rpm}} RPM, {{comp.size}}mm</div>
              <div>
                <ng-container *ngIf="comp.rgbPresent">RGB, </ng-container>
                <ng-container *ngIf="comp.pwm4PinPresent">PWM, </ng-container>
                <ng-container *ngIf="comp.dc3PinPresent">DC, </ng-container>
                <ng-container *ngIf="comp.splitterPresent">Splitter </ng-container>
              </div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredGPUs">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="GPU Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] GPU</b></div>
              <div>{{comp.name}}</div>
              <div>{{comp.memory}} GB {{comp.memoryGeneration}}</div>
              <div>{{comp.clock}} MHz - {{comp.boostClock}} MHz</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredMemories">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="Memory Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] Memory</b></div>
              <div>{{comp.name}}</div>
              <div>{{comp.generation}}-{{comp.speed}} CL{{comp.latency}}</div>
              <div>{{comp.modules}} x {{comp.memory/comp.modules}} GB</div>
              <div><ng-container *ngIf="comp.heatSpreaders">Heatspreader, </ng-container> {{comp.colors}}</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredMotherboards">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="Motherboard Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] Motherboard</b></div>
              <div>{{comp.name}}</div>
              <div>{{comp.socket}}, {{comp.motherboardChipset}}</div>
              <div>{{comp.formFactor}},  {{comp.memoryGeneration}}</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredPSUs">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="PSU Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] PSU</b></div>
              <div>{{comp.name}}</div>
              <div>{{comp.wattage}}W at {{comp.efficiency}}+ Efficiency</div>
              <div>{{comp.formFactor}}</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-item" *ngFor="let comp of filteredStorages">
          <div class="flex-columns">
            <div class="c10 i">
              <img [src]="'data:image/png;base64,' + comp.image" alt="PSU Image">
            </div>
            <div class="c60">
              <div><b>[{{comp.id}}] Storage</b></div>
              <div>{{comp.name}} {{comp.storageType}}</div>
              <div>{{comp.storageInterface}} {{comp.storageFormFactor}}</div>
              <div>{{comp.capacity}} GB</div>
              <div>{{comp.readSpeed}} MB/s read, {{comp.writeSpeed}} MB/s write</div>
            </div>
            <div class="c20">
              <div><b>Stock:</b></div>
              <div>Quantity: {{comp.quantityStock}}</div>
              <div>Reorder Quantity: {{comp.reorderQuantity}}</div>
              <div>Price: {{comp.price | number:'2.2-2'}}€</div>
            </div>
            <div class="c10">
              <div class="bt-container">
                <button (click)="openDeleteOverlay(comp.id, comp.name)">🗑️</button>
                <button (click)="toPage('/edit-comp', comp.id)">✏️</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Delete Overlay -->
<div class="overlay" *ngIf="showDeleteOverlay">
  <div class="overlay-content">
    <div class="overlay-flex-columns form-group" style="justify-content: center; align-items: center; font-size: 16px;">
      <b> Are you sure you want to delete Component[{{toBeDeleted.id}}] {{toBeDeleted.name}} ? </b>
    </div>
    <div class="overlay-button-holder">
      <button class="button" style="background-color: red;" (click)="deleteComponent(toBeDeleted.id)">Delete</button>
      <button class="button" (click)="closeOverlay()">Cancel</button>
    </div>
  </div>
</div>
</ng-container>
</body>

