<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
</head>
<body>
<div class="container">
  <div class="split left">
    <img src="images/nvidia-gpu.jpg" alt="Image 1" (click)="toPage('/all')">
    <div class="text">Browse all Components</div>
  </div>
  <div class="split right" (click)="toPage('/configurer')">
    <img src="images/rgb-computer.jpg" alt="Image 2">
    <div class="text">Configure your own Build</div>
  </div>
</div>
</body>
</html>
