* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cocogoose', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

body {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.wrapper-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
  position: fixed;
  background-color: #fff;
  border-style: none none solid none;
  border-color: #000;
  border-width: 3px;
}

.wrapper-container-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(96px + 2px);
  width: 100%;
  background-color: #fff;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper-container-bottom.bottom-visible {
  transform: translateY(0);
}

.wrapper-container-bottom.ng-class {
  transform: translateY(0%);
}

.wrapper-container:hover {
  transform: translateY(0);
}

.wrapper-container-bottom:hover {
  transform: translateY(0);
}

.bottom-visible {
  transform: translateY(0);
}

.wrapper{
  height: 96px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  transform-origin: center;
}

img:hover{
  cursor: pointer;
}

.wrapper-bottom{
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-40{ height: 40px; }
.m-t-10{ margin-top: 10px; }

.wrapper-right{
  display: flex;
  align-items: center;
}

.user{
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #2c87c3;
  color: white;
  transition: background-size 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-size: 100% 100%;
}

.user:hover {
  background-color: #1e5c85;
  background-size: 110% 110%;
  transform: scale(1.08);
}

.hover {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: 1;
  font-style: italic;
  transition: background-size 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-size: 100% 100%;
}

.slide-panel {
  position: fixed;
  top: calc(96px + 4px);
  right: 0%;
  width: 30%;
  height: calc(100vh - calc(96px + 4px));
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 10;
}

.slide-panel.ng-class {
  transform: translateX(0%);
}

.hover:hover {
  transform: translateX(0);
  background-size: 110% 110%;
  transform: scale(1.08);
  background-color: #f0f0f0;
}

.slide-panel:hover {
  transform: translateX(0);
}

.visible {
  transform: translateX(0);
}

.bottom-menus{
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  border-radius: 10px;
  transition: background-size 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-size: 100% 100%;
}

.bottom-menus:hover {
  background-color: #f0f0f0;
  background-size: 110% 110%;
  transform: scale(1.08);
}

.shopping{
  padding: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.message{
  height: calc(90vh - 98px);
  width: 85%;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 20px;
}

.scroll-container {
  width: 100%;
  height: calc(90vh - 98px);
  padding-right: 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.scroll-item {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: static;
}

table{
  width: 100%;
  border-collapse: collapse;
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 20px;
  table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: left;
  overflow: hidden;
}

thead th {
  border: none;
  border-bottom: 1px solid #ccc;
  font-weight: lighter;
  font-size: 12px;
}

tbody tr {
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  width: 100%;
}

tbody td{
  border-left: none;
  border-right: none;
  font-size: 15px;
}

.price{
  font-weight: lighter;
  font-style: italic;
}

.icon{
  filter: grayscale(0);
  transition: filter 0.3s ease;
}

.icon:hover{
  color: red;
  cursor: pointer;
  filter: sepia(100) invert(100%) hue-rotate(100deg) saturate(100) brightness(1.5);
}

.align-center{
  align-items: center;
}

.w55{
  width: 53%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.w10{
  width: 12%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}




