<body>

<div class="user-create">
  <div class="text" *ngIf="!isListVisible" (click)="onClickClose()" style="font-weight: bold; color: #0078D4">Create User</div>
  <div class="text" *ngIf="!isListVisible" (click)="onClickPanel()" >User List</div>
  <div class="text" *ngIf="isListVisible" (click)="onClickClose()" >Create User</div>
  <div class="text" *ngIf="isListVisible" (click)="onClickPanel()" style="font-weight: bold; color: #0078D4">User List</div>
</div>
<app-create-user></app-create-user>



<div class="user-list" [ngClass]="{ 'visible': isListVisible }">
  <div style="margin-top: 70px;">
  </div>
  <app-user-list></app-user-list>
</div>

</body>
