
@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Bold-Italic-trial.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Bold-trial.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Italic-trial.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Light-Italic-trial.ttf') format('ttf');
  font-weight: 2;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Light-trial.ttf') format('ttf');
  font-weight: 2;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Regular-trial.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Thin-Italic-trial.ttf') format('ttf');
  font-weight: 3;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Thin-trial.ttf') format('ttf');
  font-weight: 3;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Ultralight-Italic-trial.ttf') format('ttf');
  font-weight: 0;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('/assets/fonts/Cocogoose-Pro-Ultralight-trial.ttf') format('ttf');
  font-weight: 0;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 2;
  width: 100%;
}

app-login {
  position: fixed;
  z-index: 1000;
}

.router-container {
  margin-top: 98px;
  z-index: 1;
}
