<body>
<div class="form-container">
  <form (ngSubmit)="onSubmit(compForm)" #compForm="ngForm">
    <div class="flex-columns">
      <!-- Attributes that all have in common, displayed on the right half -->
      <div class="column">
        <div class="form-group">
          <label for="img">Upload Image:</label>
          <div
            class="upload-zone"
            [class.drag-over]="isDragOver"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave()"
            (drop)="onDrop($event)"
            (click)="fileInput.click()">
            <input type="file" id="img" #fileInput (change)="onFileChange($event)" hidden/>
            <div class="upload-message">
              <p *ngIf="!imagePreviewUrl">{{ errorMessage }}</p>
              <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image preview" class="preview-image">
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="button" type="button" (click)="delete()">Remove Image</button>
        </div>
        <div class="form-group">
          <label for="compType">Component Type:</label>
          <select id="compType" [(ngModel)]="selectedCompType" name="compType" required>
            <option *ngFor="let type of componentService.compTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" required [(ngModel)]="valueStorage.name" #nameCtrl="ngModel" name="name"
                 [ngClass]="{'invalid-field': nameCtrl.invalid && nameCtrl.touched}">
        </div>
        <div class="form-group">
          <label for="quantityStock">Stock Quantity:</label>
          <input type="number" id="quantityStock" required [(ngModel)]="valueStorage.quantityStock" name="quantityStock">
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" required [(ngModel)]="valueStorage.price" name="price">
        </div>
        <div class="form-group">
          <label for="reorderQuantity">Reorder Quantity:</label>
          <input type="number" id="reorderQuantity" required [(ngModel)]="valueStorage.reorderQuantity" name="reorderQuantity">
        </div>
      </div>

      <!-- Individual Attributes, displayed on the left half if applicable-->
      <div class="column" *ngIf="selectedCompType === ComponentType.CASE">
        <div class="form-group">
          <label for="casePanel">Case Sidepanel Type:</label>
          <select id="casePanel" [(ngModel)]="valueStorage.casSidepanel" #casePanelCtrl name="casePanel" required>
            <option *ngFor="let type of componentService.sidepanels" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="motherboardForm">Motherboard Form Factor:</label>
          <select id="motherboardForm" [(ngModel)]="valueStorage.motherboardFormFactor" #motherboardFormCtrl name="motherboardForm" required>
            <option *ngFor="let type of componentService.motherboardFormFactors" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="color">Color:</label>
          <input type="text" id="color" required [(ngModel)]="valueStorage.color" #colorCtrl="ngModel" name="color"
                 [ngClass]="{'invalid-field': colorCtrl.invalid && colorCtrl.touched}">
        </div>
        <div class="form-group flex space-between">
          <div class="w45">
            <label for="coolerheight">Maximum Cooler Height (mm):</label>
            <input type="number" id="coolerheight" required [(ngModel)]="valueStorage.maxCoolerHeight" name="coolerheight">
          </div>
          <div class="w45">
          <label for="gpu-length">Maximum GPU Length (mm):</label>
          <input type="number" id="gpu-length" required [(ngModel)]="valueStorage.maxCardLength" name="gpu-length">
          </div>
        </div>
        <div class="form-group flex space-between">
          <div class="w20">
            <label for="usb2">USB 2 Ports:</label>
            <input type="number" id="usb2" required [(ngModel)]="valueStorage.usb2Port" name="usb2">
          </div>

        <div class="w20">
          <label for="usb3g1">USB 3 Gen 1 Ports:</label>
          <input type="number" id="usb3g1" required [(ngModel)]="valueStorage.usb3Gen1Port" name="usb3g1">
        </div>
        <div class="w20">
          <label for="usb3g2">USB 3 Gen 2 Ports:</label>
          <input type="number" id="usb3g2" required [(ngModel)]="valueStorage.usb3Gen2Port" name="usb3g2">
        </div>
        <div class="w20">
          <label for="usb3g2x2">USB 3 Gen 2x2 Ports:</label>
          <input type="number" id="usb3g2x2" required [(ngModel)]="valueStorage.usb3Gen2x2Port" name="usb3g2x2">
        </div>
          </div>
        <div class="form-group flex space space-between">
          <div class="w20">
            <label for="usbTypeC">USB Type C Ports:</label>
            <input type="number" id="usbTypeC" required [(ngModel)]="valueStorage.usbTypeCPort" name="usbTypeC">
          </div>
          <div class="w20">
            <label for="fans80">Fans 80mm:</label>
            <input type="number" id="fans80" required [(ngModel)]="valueStorage.fans80" name="fans80">
          </div>
          <div class="w20">
            <label for="fans120">Fans 120mm:</label>
            <input type="number" id="fans120" required [(ngModel)]="valueStorage.fans120" name="fans120">
          </div>
          <div class="w20">
            <label for="fans140">Fans 140mm:</label>
            <input type="number" id="fans140" required [(ngModel)]="valueStorage.fans140" name="fans140">
          </div>
        </div>
        <div class="form-group">
          <label for="drive35">3.5" Drive Bays:</label>
          <input type="number" id="drive35" required [(ngModel)]="valueStorage.driveBays35" name="drive35">
        </div>
        <div class="form-group">
          <label for="drive25">2.5" Drive Bays:</label>
          <input type="number" id="drive25" required [(ngModel)]="valueStorage.driveBays25" name="drive25">
        </div>
        <div class="form-group">
          <label for="autocomplete-input-case">Compatible PSU Form Factors:</label>
          <div class="autocomplete-container">
            <div class="input-wrapper">
              <div class="selected-items">
                <span *ngFor="let item of valueStorage.compatiblePSUFormFactors" class="selected-item">
                  {{ item }}
                  <button type="button" class="remove-button" (click)="removeItem(item, valueStorage.compatiblePSUFormFactors)">x</button>
                </span>
              </div>
              <input
                type="text"
                id="autocomplete-input-case"
                [(ngModel)]="inputValue"
                (input)="onInputChange(suggestions, inputValue, componentService.psuFormFactors, valueStorage.compatiblePSUFormFactors)"
                name="itemInput"
                autocomplete="off"
                placeholder="Select compatible PSU Form Factors" />
            </div>

            <ul class="suggestions" *ngIf="suggestions.length">
              <li *ngFor="let suggestion of suggestions" (click)="addItem(suggestion, valueStorage.compatiblePSUFormFactors)">
                {{ suggestion }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.CPU">
        <div class="form-group">
          <label for="socket">Socket:</label>
          <select id="socket" [(ngModel)]="valueStorage.socket" #socketCtrl name="socket" required>
            <option *ngFor="let type of componentService.sockets" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="clock">Core Clock (MHz):</label>
          <input type="number" id="clock" required [(ngModel)]="valueStorage.clock" name="clock">
        </div>
        <div class="form-group">
          <label for="boost-clock">Boost Clock (MHz):</label>
          <input type="number" id="boost-clock" required [(ngModel)]="valueStorage.boostClock" name="boost-clock">
        </div>
        <div class="form-group">
          <label for="tdp">TDP (W):</label>
          <input type="number" id="tdp" required [(ngModel)]="valueStorage.tdp" name="tdp">
        </div>
        <div class="form-group">
          <label for="cores">Cores:</label>
          <input type="number" id="cores" required [(ngModel)]="valueStorage.cores" name="cores">
        </div>
        <div class="form-group">
          <label for="threads">Threads:</label>
          <input type="number" id="threads" required [(ngModel)]="valueStorage.threads" name="threads">
        </div>
        <div class="form-group">
          <label for="maxmem">Maximum Memory (GB):</label>
          <input type="number" id="maxmem" required [(ngModel)]="valueStorage.maxMemory" name="maxmem">
        </div>
        <div class="form-group flex space-between">
          <div class="w45">
          <label for="l2">L2 Cache (MB):</label>
          <input type="number" id="l2" required [(ngModel)]="valueStorage.l2Cache" name="l2">
          </div>
        <div class="w45">
          <label for="l3">L3 Cache (MB):</label>
          <input type="number" id="l3" required [(ngModel)]="valueStorage.l3Cache" name="l3">
        </div>
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="hasiGPU">iGPU:</label>
            <input type="checkbox" id="hasiGPU" [(ngModel)]="valueStorage.iGPU" name="iGPU" />
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.CPUCOOLER">
        <div style="height: 313px;"></div>
        <div class="form-group">
          <label for="fanrpm">Fan RPM:</label>
          <input type="number" id="fanrpm" required [(ngModel)]="valueStorage.fanRPM" name="fanrpm">
        </div>
        <div class="form-group">
          <label for="height">Height (mm):</label>
          <input type="number" id="height" required [(ngModel)]="valueStorage.height" name="height">
        </div>
        <div class="form-group">
          <label for="autocomplete-input-cpucooler">Compatible Sockets:</label>
          <div class="autocomplete-container">
            <div class="input-wrapper">
              <div class="selected-items">
                <span *ngFor="let item of valueStorage.sockets" class="selected-item">
                  {{ item }}
                  <button type="button" class="remove-button" (click)="removeItem(item, valueStorage.sockets)">x</button>
                </span>
              </div>
              <input
                type="text"
                id="autocomplete-input-cpucooler"
                [(ngModel)]="inputValue"
                (input)="onInputChange(suggestions, inputValue, componentService.sockets, valueStorage.sockets)"
                name="itemInput"
                autocomplete="off"
                placeholder="Select compatible Sockets..." />
            </div>

            <ul class="suggestions" *ngIf="suggestions.length">
              <li *ngFor="let suggestion of suggestions" (click)="addItem(suggestion, valueStorage.sockets)">
                {{ suggestion }}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="color2">Color:</label>
          <input type="text" id="color2" required [(ngModel)]="valueStorage.color" #color2Ctrl="ngModel" name="color2"
                 [ngClass]="{'invalid-field': color2Ctrl.invalid && color2Ctrl.touched}">
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="isFanless">Fanless:</label>
            <input type="checkbox" id="isFanless" [(ngModel)]="valueStorage.isFanless" name="isFanless" />
          </div>
          <div class="checks flex">
            <label for="watercooled">Watercooled:</label>
            <input type="checkbox" id="watercooled" [(ngModel)]="valueStorage.isWatercooled" name="watercooled" />
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.FAN">
        <div style="height: 235px;"></div>
        <div class="form-group">
          <label for="fanrpm2">Fan RPM:</label>
          <input type="number" id="fanrpm2" required [(ngModel)]="valueStorage.fanRPM" name="fanrpm2">
        </div>
        <div class="form-group">
          <label for="size">Size (mm):</label>
          <input type="number" id="size" required [(ngModel)]="valueStorage.size" name="size">
        </div>
        <div class="form-group">
          <label for="airflow">Airflow:</label>
          <input type="number" id="airflow" required [(ngModel)]="valueStorage.airflow" name="airflow">
        </div>
        <div class="form-group">
          <label for="noise2">Noise (dB):</label>
          <input type="number" id="noise2" required [(ngModel)]="valueStorage.noise" name="noise2">
        </div>
        <div class="form-group">
          <label for="color3">Color:</label>
          <input type="text" id="color3" required [(ngModel)]="valueStorage.color" #color3Ctrl="ngModel" name="color3"
                 [ngClass]="{'invalid-field': color3Ctrl.invalid && color3Ctrl.touched}">
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="rgbpresent">RGB:</label>
            <input type="checkbox" id="rgbpresent" [(ngModel)]="valueStorage.rgbPresent" name="rgbpresent" />
          </div>
          <div class="checks flex">
            <label for="pwm">PWM:</label>
            <input type="checkbox" id="pwm" [(ngModel)]="valueStorage.pwm4PinPresent" name="pwm" />
          </div>
          <div class="checks flex">
            <label for="dc">DC:</label>
            <input type="checkbox" id="dc" [(ngModel)]="valueStorage.dc3PinPresent" name="dc" />
          </div>
          <div class="checks flex">
            <label for="splitter">Splitter:</label>
            <input type="checkbox" id="splitter" [(ngModel)]="valueStorage.splitterPresent" name="splitter" />
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.GPU">
        <div class="form-group">
          <label for="memory">GPU Memory (GB):</label>
          <input type="number" id="memory" required [(ngModel)]="valueStorage.memory" name="memory">
        </div>
        <div class="form-group">
          <label for="memoryGen">GPU Memory Generation:</label>
          <select id="memoryGen" [(ngModel)]="valueStorage.gpuMemoryGeneration" #memoryGenCtrl name="memoryGen" required>
            <option *ngFor="let type of componentService.gpuMemories" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="clock2">Core Clock (MHz):</label>
          <input type="number" id="clock2" required [(ngModel)]="valueStorage.clock" name="clock2">
        </div>
        <div class="form-group">
          <label for="boost-clock2">Boost Clock (MHz):</label>
          <input type="number" id="boost-clock2" required [(ngModel)]="valueStorage.boostClock" name="boost-clock2">
        </div>
        <div class="form-group">
          <label for="tdp2">TDP (W):</label>
          <input type="number" id="tdp2" required [(ngModel)]="valueStorage.tdp" name="tdp2">
        </div>
        <div class="form-group">
          <label for="length">Length (mm):</label>
          <input type="number" id="length" required [(ngModel)]="valueStorage.length" name="length">
        </div>
        <div class="form-group flex space-between">
          <div class="w31">
          <label for="hdmi">HDMI Ports:</label>
          <input type="number" id="hdmi" required [(ngModel)]="valueStorage.hdmiPorts" name="hdmi">
          </div>
        <div class="w31">
          <label for="dp">DP Ports:</label>
          <input type="number" id="dp" required [(ngModel)]="valueStorage.dpPorts" name="dp">
        </div>
        <div class="w31">
          <label for="c">USB Type C Ports:</label>
          <input type="number" id="c" required [(ngModel)]="valueStorage.usbCPorts" name="c">
        </div>
        </div>
        <div class="form-group">
          <label for="slots">Slots:</label>
          <input type="number" id="slots" required [(ngModel)]="valueStorage.slots" name="slots">
        </div>
        <div class="form-group">
          <label for="color4">Color:</label>
          <input type="text" id="color4" required [(ngModel)]="valueStorage.color" #color4Ctrl="ngModel" name="color4"
                 [ngClass]="{'invalid-field': color4Ctrl.invalid && color4Ctrl.touched}">
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.MEMORY">
        <div class="form-group">
          <label for="memory2">Memory Size (GB):</label>
          <input type="number" id="memory2" required [(ngModel)]="valueStorage.memory" name="memory2">
        </div>
        <div class="form-group">
          <label for="generation">Memory Generation:</label>
          <select id="generation" [(ngModel)]="valueStorage.memoryGeneration" name="generation" required>
            <option *ngFor="let type of componentService.memoryGens" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="speed">Memory Speed:</label>
          <select id="speed" [(ngModel)]="valueStorage.speed" name="speed" required>
            <option *ngFor="let type of componentService.memSpeedMap.get(valueStorage.memoryGeneration)" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="modules">Modules:</label>
          <input type="number" id="modules" required [(ngModel)]="valueStorage.modules" name="modules">
        </div>
        <div class="form-group">
          <label for="color5">Color:</label>
          <input type="text" id="color5" required [(ngModel)]="valueStorage.color" #color5Ctrl="ngModel" name="color5"
                 [ngClass]="{'invalid-field': color5Ctrl.invalid && color5Ctrl.touched}">
        </div>
        <div class="form-group">
          <label for="latency">CAS Latency:</label>
          <input type="number" id="latency" required [(ngModel)]="valueStorage.latency" name="latency">
        </div>
        <div class="form-group">
          <label for="voltage">Voltage:</label>
          <input type="number" id="voltage" required [(ngModel)]="valueStorage.voltage" name="hdmi">
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="heatspreader">Heatspreader:</label>
            <input type="checkbox" id="heatspreader" [(ngModel)]="valueStorage.hasHeatSpreaders" name="heatspreader" />
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.MOTHERBOARD">
        <div class="form-group flex space-between">
          <div class="w45">
          <label for="socketm">Socket:</label>
          <select id="socketm" [(ngModel)]="valueStorage.socket" name="socketm" required>
            <option *ngFor="let type of componentService.sockets" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="w45">
          <label for="chipset">Motherboard Chipset:</label>
          <select id="chipset" [(ngModel)]="valueStorage.motherboardChipset" name="chipset" required>
            <option *ngFor="let type of componentService.chipsetMap.get(valueStorage.socket)" [value]="type">{{ type }}</option>
          </select>
        </div>
        </div>
        <div class="form-group flex space-between">
          <div class="w45">
          <label for="memgen">Memory Generation:</label>
          <select id="memgen" [(ngModel)]="valueStorage.memoryGeneration" name="memgen" required>
            <option *ngFor="let type of componentService.memoryGens" [value]="type">{{ type }}</option>
          </select>
          </div>
        <div class="w45">
          <label for="memslots">Memory Slots:</label>
          <input type="number" id="memslots" required [(ngModel)]="valueStorage.memorySlots" name="memslots">
        </div>
        </div>
        <div class="form-group">
          <label for="autocomplete-input-mem">Compatible Memory Speeds:</label>
          <div class="autocomplete-container">
            <div class="input-wrapper">
              <div class="selected-items">
                <span *ngFor="let item of valueStorage.memorySpeeds" class="selected-item">
                  {{ item }}
                  <button type="button" class="remove-button" (click)="removeItem(item, valueStorage.memorySpeeds)">x</button>
                </span>
              </div>
              <input
                type="text"
                id="autocomplete-input-mem"
                [(ngModel)]="inputValue"
                (input)="onInputChange(suggestions, inputValue, componentService.memSpeedMap.get(valueStorage.memoryGeneration) ?? [], valueStorage.memorySpeeds)"
                name="itemInput"
                autocomplete="off"
                placeholder="Select compatible Memory Speeds" />
            </div>

            <ul class="suggestions" *ngIf="suggestions.length">
              <li *ngFor="let suggestion of suggestions" (click)="addItem(suggestion, valueStorage.memorySpeeds)">
                {{ suggestion }}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="autocomplete-input-storage">Compatible Storage Form Factors:</label>
          <div class="autocomplete-container">
            <div class="input-wrapper">
              <div class="selected-items">
                <span *ngFor="let item of valueStorage.storageFormFactors" class="selected-item">
                  {{ item }}
                  <button type="button" class="remove-button" (click)="removeItem(item, valueStorage.storageFormFactors)">x</button>
                </span>
              </div>
              <input
                type="text"
                id="autocomplete-input-storage"
                [(ngModel)]="inputValue2"
                (input)="onInputChange(suggestions2, inputValue2, componentService.storageFormFactors, valueStorage.storageFormFactors)"
                name="itemInput"
                autocomplete="off"
                placeholder="Select compatible Storage Form Factors" />
            </div>

            <ul class="suggestions" *ngIf="suggestions2.length">
              <li *ngFor="let suggestion of suggestions2" (click)="addItem(suggestion, valueStorage.storageFormFactors)">
                {{ suggestion }}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group flex space-between">
          <div class="w20">
          <label for="pcie16">PCIe x16:</label>
          <input type="number" id="pcie16" required [(ngModel)]="valueStorage.pciex16" name="pcie16">
          </div>
        <div class="w20">
          <label for="pcie8">PCIe x8:</label>
          <input type="number" id="pcie8" required [(ngModel)]="valueStorage.pciex8" name="pcie8">
        </div>
        <div class="w20">
          <label for="pcie4">PCIe x4:</label>
          <input type="number" id="pcie4" required [(ngModel)]="valueStorage.pciex4" name="pcie4">
        </div>
        <div class="w20">
          <label for="pcie1">PCIe x1:</label>
          <input type="number" id="pcie1" required [(ngModel)]="valueStorage.pciex1" name="pcie1">
        </div>
        </div>
        <div class="form-group flex space-between">
          <div class="w20">
          <label for="usb2h">USB 2 Header:</label>
          <input type="number" id="usb2h" required [(ngModel)]="valueStorage.usb2Header" name="usb2h">
          </div>
        <div class="w20">
          <label for="usb3g1h">USB 3 Gen 1 Header:</label>
          <input type="number" id="usb3g1h" required [(ngModel)]="valueStorage.usb3Gen1Header" name="usb3g1h">
        </div>
        <div class="w20">
          <label for="usb3g2h">USB 3 Gen 2 Header:</label>
          <input type="number" id="usb3g2h" required [(ngModel)]="valueStorage.usb3Gen2Header" name="usb3g2h">
        </div>
        <div class="w20">
          <label for="usb3g2x2h">USB 3 Gen 2x2 Header:</label>
          <input type="number" id="usb3g2x2h" required [(ngModel)]="valueStorage.usb3Gen2x2Header" name="usb3g2x2h">
        </div>
        </div>
        <div class="form-group flex space-between">
          <div class="w45">
          <label for="usbch">USB Type C Header:</label>
          <input type="number" id="usbch" required [(ngModel)]="valueStorage.usbTypeCHeader" name="usbch">
          </div>
        <div class="w45">
          <label for="sata">Sata:</label>
          <input type="number" id="sata" required [(ngModel)]="valueStorage.sata" name="sata">
        </div>
        </div>
        <div class="form-group">
          <label for="wifi">Wifi:</label>
          <select id="wifi" [(ngModel)]="valueStorage.wifi" name="wifi" required>
            <option *ngFor="let type of componentService.wifis" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="raid">Raid:</label>
            <input type="checkbox" id="raid" [(ngModel)]="valueStorage.raidSupported" name="raid" />
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.PSU">
        <div class="form-group">
          <label for="color6">Color:</label>
          <input type="text" id="color6" required [(ngModel)]="valueStorage.color" #color6Ctrl="ngModel" name="color6"
                 [ngClass]="{'invalid-field': color6Ctrl.invalid && color6Ctrl.touched}">
        </div>
        <div class="form-group">
          <label for="watt">Wattage:</label>
          <input type="number" id="watt" required [(ngModel)]="valueStorage.wattage" name="watt">
        </div>
        <div class="form-group">
          <label for="efficiency">Efficiency (%):</label>
          <input type="number" id="efficiency" required [(ngModel)]="valueStorage.efficiency" name="efficiency">
        </div>
        <div class="form-group">
          <label for="form">Form Factor:</label>
          <select id="form" [(ngModel)]="valueStorage.psuFormFactor" name="form" required>
            <option *ngFor="let type of componentService.psuFormFactors" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pciepins">PCie 6+2 Pins:</label>
          <input type="number" id="pciepins" required [(ngModel)]="valueStorage.pcie6Pins" name="pciepins">
        </div>
        <div class="form-group">
          <label for="eps">EPS 8 Pins:</label>
          <input type="number" id="eps" required [(ngModel)]="valueStorage.eps8Pins" name="eps">
        </div>
        <div class="form-group">
          <label for="satapins">SATA Connectors:</label>
          <input type="number" id="satapins" required [(ngModel)]="valueStorage.sataConnectors" name="satapins">
        </div>
        <div class="form-group">
          <label for="molex">Molex 4 Pins:</label>
          <input type="number" id="molex" required [(ngModel)]="valueStorage.molex4Pins" name="molex">
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="12vhpr">12VHPR:</label>
            <input type="checkbox" id="12vhpr" [(ngModel)]="valueStorage.hpr12vPresent" name="12vhpr" />
          </div>
          <div class="checks flex">
            <label for="modular">Modular:</label>
            <input type="checkbox" id="modular" [(ngModel)]="valueStorage.modular" name="modular" />
          </div>
        </div>
      </div>

      <div class="column" *ngIf="selectedCompType === ComponentType.STORAGE">
        <div style="height: 313px;"></div>
        <div class="form-group">
          <label for="strge">Storage Type:</label>
          <select id="strge" [(ngModel)]="valueStorage.storageType" name="strge" required>
            <option *ngFor="let type of componentService.storageTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cap">Capacity (GB):</label>
          <input type="number" id="cap" required [(ngModel)]="valueStorage.capacity" name="cap">
        </div>
        <div class="form-group">
          <label for="interface">Storage Interface:</label>
          <select id="interface" [(ngModel)]="valueStorage.storageInterface" name="interface" required>
            <option *ngFor="let type of componentService.storageInterfaces" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="storageform">Storage Form Factor:</label>
          <select id="storageform" [(ngModel)]="valueStorage.storageformFactor" name="storageform" required>
            <option *ngFor="let type of componentService.storageFormFactors" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group flex">
          <div class="checks flex">
            <label for="sink">Heatsink:</label>
            <input type="checkbox" id="sink" [(ngModel)]="valueStorage.withHeatSink" name="sink" />
          </div>
        </div>
      </div>
    </div>

    <div class="form-group full-width">
      <button class="button" type="submit">Create new Component</button>
    </div>
    <div class="feedback-message">{{ valueStorage.feedbackMessage }}</div>
  </form>
</div>

</body>
