* {
  font-family: 'Arial', sans-serif;
}

table{
  border-collapse: collapse;
  border: 1px solid #000000;
  table-layout: fixed;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  width: 100%;
}

table th:first-child,
table td:first-child {
  width: 6%;
  min-width: 6%;
  max-width: 6%;
}

th, td{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
}

th {
  border: 1px solid #000000;
  background-color: #f2f2f2;
  font-weight: bold;
}

.flex-columns {
  display: flex;
}

.column {
  padding: 10px;
}

.c66 {
  flex: 2;
}

.c33{
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon-wrapper input[type="text"] {
  padding: 10px;
  padding-right: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 800px;
  position: relative;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
  width: 27px;
  height: 27px;
  border-radius: 20px;
}

.checkboxes {
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #ffffff;
  position: absolute;
}

.checkboxes label {
  margin: 8px;
  font-size: 14px;
  color: #000000;
}

.bt{
  margin: 44px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 400px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}

.overlay-content {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

.overlay-flex-columns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
}

.overlay-column {
  flex: 1;
  box-sizing: border-box;
}

.overlay label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  box-sizing: border-box;
}

.overlay-column input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.overlay-button-holder {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.overlay-button-holder button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 33%;
  box-sizing: border-box;
}

.full-width {
  display: flex;
  justify-content: center;
}

