<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Users</title>
</head>
<body>

<div class="container">

  <div class="input-icon-wrapper">
    <input
      type = "text"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      class="search-input"
    />
    <span class="icon" (click)="toggleCheckboxes()">
      <img ngSrc="images/filter.png" alt="filter" height="20" width="20">
    </span>
  </div>

  <div class="checkboxes" *ngIf="showCheckboxes">
    <label class="custom-checkbox">Search by:</label>
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [(ngModel)]="filters[0]"
      />
      First Name
    </label>
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [(ngModel)]="filters[1]"
      />
      Last Name
    </label>
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [(ngModel)]="filters[2]"
      />
      Address
    </label>
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [(ngModel)]="filters[3]"
      />
      Birthday
    </label>
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [(ngModel)]="filters[4]"
      />
      Email
    </label>
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [(ngModel)]="filters[5]"
      />
      Phone
    </label>
  </div>

  <button class="bt" (click)="deleteCheckedUsers()">Delete selected Users</button>
</div>

<br>

<div class="overlay" *ngIf="showOverlayUser">
  <div class="overlay-content">
    <div class="overlay-flex-columns">
      <div class="overlay-column">
        <label>
          ID: <input type="text" [(ngModel)]="editUser.id" readonly />
        </label>
        <label>
          Name: <input type="text" [(ngModel)]="editUser.firstName" />
        </label>
        <label>
          Lastname: <input type="text" [(ngModel)]="editUser.lastName" />
        </label>
        <label>
          Address: <input type="text" [(ngModel)]="editUser.address" />
        </label>
      </div>
      <div class="overlay-column">
        <label>
          Birthday: <input type="date" [(ngModel)]="editUser.birthday" />
        </label>
        <label>
          Email: <input type="text" [(ngModel)]="editUser.email" />
        </label>
        <label>
          Phone: <input type="text" [(ngModel)]="editUser.phone" />
        </label>
      </div>
    </div>
    <div class="overlay-button-holder">
      <button (click)="saveChanges()">Save</button>
      <button (click)="closeOverlay()">Cancel</button>
    </div>
  </div>
</div>

<div>
  <div class="flex-columns">
    <div class="column c66">
      <table>
        <thead>
        <tr>
          <th>Select</th>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Birthday</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>
            <input type="checkbox" [(ngModel)]="user.checked" />
            <button (click)="openEditUser(user)">✏️</button>
          </td>
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.birthday }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="column c33">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Admin Role</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let admin of filteredAdmins">
          <td>{{ admin.id }}</td>
          <td>{{ admin.adminRole }}</td>
        </tr>
        </tbody>
      </table>

      <br>
      <br>

      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Processing Area</th>
          <th>Shift</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let processors of filteredOrderProcessors">
          <td>{{ processors.id }}</td>
          <td>{{ processors.processingArea }}</td>
          <td>{{ processors.shift }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
